@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
img
{
  display: block;
}
/* |||||||||| INIZIO |||||||||| */


/* |||||||||| HEADER |||||||||| */
header
{
  background-color: #fd6619;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 1px 5px black;
}

.header a
{
  margin: 0 0.3vw;
  font-weight: 600;
  color: white;
}
.header img
{
  width: 9rem;
  /* width: 7vw; */
}

/* |||||||||| MAIN |||||||||| */
main
{
  height: 100vh;
}
.main-carte
{
  margin: 7vw 0;
}
.main-carte div
{
  flex-basis: 32%;
  position: relative;
}
.main-carte img
{
  width: 100%;
}
.carta
{
  margin-bottom: 3vw;
}
.prezzo
{
  font-weight: 700;
  margin-right: 0.1vw;
}
.sconto
{
  text-decoration-line: line-through;
}

.prezzo::after
{
  content: '\20AC';
}

.cuoricino
{
  position: absolute;
  top: 0.5vw;
  right: 0;
  background-color: white;
  padding: 0.8vw;
}
.cuoricino i
{
  font-size: 1.6rem;
}
.saldi
{
  position: absolute;
  bottom: 3vw;
  left: 0;
}
.box-sconto
{
  padding: 0.3vw;
  font-size: 0.8rem;
  font-weight: 700;
}

/* |||||||||| FOOTER |||||||||| */



/* |||||||||| HOVER |||||||||| */
/* hover carta */
.immagine-dopo
{
  display: none;
}
.carta-immagine:hover .immagine-prima
{
  display: none;
}
.carta-immagine:hover .immagine-dopo
{
  display: block;
}

/* hover cuore */
.cuoricino:hover
{
  color: red;
}

/* |||||||||| AREA TEST |||||||||| */
.header-genere a:hover
{
  text-decoration-line: underline;
  font-weight: bold;
}


/* |||||||||| AREA TEST |||||||||| */





































/* Fine */